$navHeight: 48px;
$window-height-var: --window-height;

.home-view {
  height: calc(var($window-height-var, 1vh) * 100 - $navHeight);
  display: flex;
  align-items: center;
  justify-content: center;

  @include media('landscape', 'height<=600px') {
    height: unset;
  }

  &__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;

    @include media('>tablet') {
      font-size: 58px;
    }

    &-wrapper {
      margin-bottom: space(3);

      @include media('>tablet') {
        margin-bottom: space(5);
      }
    }
    
    &-dot {
      font-size: 54px;
      color: map-get($scheme, 'secondary');

      @include media('>tablet') {
        font-size: 72px;
      }
    }
  }

  &__handle {
    font-family: 'Neucha', cursive;
    color: map-get($dark, 500);
    font-size: 14px;
    margin-top: space(1);
    display: flex;

    @include media('>tablet') {
      font-size: 16px;
    }
  }

  &__about-me {
    font-size: 18px;
    margin-bottom: space(4);
    line-height: normal;

    @include media('>tablet') {
      font-size: 22px;
      margin-bottom: space(6);
    }
  }

  &__hashtag-list {
    color: map-get($dark, 500);
    margin-top: space(4);
    line-height: normal;
    font-size: 14px;
    font-family: 'Neucha', cursive;

    @include media('>tablet') {
      margin-top: space(6);
      font-size: 16px;
    }
    
    &-item {
      display: inline-block;
      margin: space(0, 1) 2px 0;
      
      @include media('>tablet') {
        display: block;
        margin: 0 0 2px 0;
      }
    }
  }

  &__hash {
    color: map-get($greys, 800);
    margin-right: 2px;
  }

  &__button {
    margin: space(0, 3, 3, 0);
  }
}