$lightMode: (
  thumb-color: map-get($grey, 100),
  outline-color: map-get($dark, 500),
  switch: (
    width: 2em,
    height: 1em
  ),
  track: (
    color: map-get($grey, 100),
    active-color: map-get($grey, 800),
  )
);

$darkMode: (

);

.theme-switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: map-get($lightMode, switch, width);
  height: map-get($lightMode, switch, height);

  &__checkbox {
    // Hide the checkbox
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .theme-switch__slider {
      background-color: map-get($lightMode, track, active-color);
    }

    &:checked + .theme-switch__slider:before {
      transform: translateX(calc(map-get($lightMode, switch, width) - map-get($lightMode, switch, height))) translateY(-0.2em);
    }

    &:focus-visible + .theme-switch__slider {
      box-shadow: 0 0 0 2px map-get($lightMode, track, active-color);
    }
    
    &:hover + .theme-switch__slider:before {
      /* Raise the 'dot' */
      transform: translateY(-0.3em);
      box-shadow: 0 0.3em 0 map-get($lightMode, outline-color)
    }

    /* Raise thumb when hovered & checked */
    &:hover:checked + .theme-switch__slider:before {
      transform: translateX(calc(map-get($lightMode, switch, width) - map-get($lightMode, switch, height))) translateY(-0.3em);
      box-shadow: 0 0.3em 0 map-get($lightMode, outline-color);     
    }

  }

  &__slider {
    box-sizing: border-box;
    border: 2px solid map-get($lightMode, outline-color);  
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($lightMode, track, color);
    transition: .15s;
    border-radius: map-get($lightMode, switch, height);

    &:before {
      box-sizing: border-box;
      position: absolute;
      content: "";
      height: map-get($lightMode, switch, height);
      width: map-get($lightMode, switch, height);
      border: 2px solid map-get($lightMode, outline-color);
      border-radius: 100%;
      left: -2px;
      bottom: -2px;
      background-color: map-get($lightMode, thumb-color);
      transform: translateY(-0.2em);
      box-shadow: 0 0.2em 0 map-get($lightMode, outline-color);
      transition: .15s;
    }
  }
}