.home-view {
  height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: space(5);

    @include media('>tablet') {
      font-size: 58px;
    }

    &-dot {
      font-size: 60px;
      color: #f87060;

      @include media('>tablet') {
        font-size: 84px;
      }
    }
  }

  &__about-me {
    font-size: 18px;
    margin-bottom: space(4);
    line-height: normal;

    @include media('>tablet') {
      font-size: 22px;
      margin-bottom: space(6);
    }
  }

  &__hashtag {
    color: rgb(83, 83, 83);
    margin-right: 2px;

    &-list {
      color: rgb(83, 83, 83);
      margin-top: space(4);
      line-height: normal;

      @include media('>tablet') {
        margin-top: space(6);
      }
    }
  }

  &__button {
    margin: space(0, 2, 2, 0);
  }
}