@import '../../assets/styles/colors.scss';

.c-button {
  padding: 8px 16px;
  border: unset;
  border-radius: 4px;
  color: white;
  background-color: map-get($map: $scheme, $key: primary);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;

  @include media('>tablet') {
    font-size: 16px;
  }

  &:hover {
    background-color: #618bde;
  }
}