.c-button {
  padding: 0.5em 1em;
  font-weight: 900;
  font-size: 16px;
  color: map-get($dark, 500);
  border: 2px solid map-get($dark, 500);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   &--primary {
    background: map-get($scheme, primary);
   }

   &--secondary {
    background: map-get($scheme, secondary);
   }
}