$blue: (
  200: #C5D5E4,
);

$orange: (
  500: #fa7725,
  800: #e34837,
);

$greys: (
  100: #fbfbfb,
  800: #aaaaaa
);

$dark: (
  500: #353535,
);

$scheme: (
  primary: map-get($blue, 200),
  secondary: map-get($orange, 500),
);