$blue: (
  500: #87A6E2,
  600: #618bde
);

$orange: (
  500: #F87060,
  800: #e34837,
);

$greys: (
  100: #fbfbfb,
  800: #aaaaaa
);

$dark: (
  500: #353535,
);

$scheme: (
  primary: map-get($blue, 500),
  secondary: map-get($orange, 500),
);