@import './helpers.scss';
@import './mixins/dark-mode.scss';
@import './colors';
@import './spacing';

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&family=Neucha&display=swap');

:root {
  background-color: map-get($grey, 100);
  box-sizing: border-box;

  // We cant use the darkMode mixin here, since we're targeting :root
  &[data-theme="dark"] {
    background-color: map-get($dark, 700);
  }
}

* {
  font-family: 'Inria Sans', sans-serif;

  &:before, &:after {
    box-sizing: inherit;
  }
}