@import './helpers.scss';
@import './css-reset.css';

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&family=Neucha&display=swap');

html {
  background-color: var(--color-background);
  box-sizing: border-box;
}

* {
  font-family: 'Inria Sans', sans-serif;

  &:before, &:after {
    box-sizing: inherit;
  }
}