/*@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&family=Neucha&display=swap');*/

:root {
  --jmdk-color-grey-100: #fbfbfb;
  --jmdk-color-grey-800: #aaaaaa;
  --jmdk-color-blue-200: #b2cbe2;
  --jmdk-color-orange-500: #fa7725;
  --jmdk-color-orange-800: #e34837;
  --jmdk-color-dark-500: #353535;
  --jmdk-color-scheme-primary: var(--jmdk-color-blue-200);
  --jmdk-color-scheme-secondary: var(--jmdk-color-orange-500);
}

* {
  font-family: 'Inria Sans', sans-serif;
}

html {
  background-color: var(--jmdk-color-grey-100);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
